@import './tokens.css';

* { box-sizing: border-box; margin:0; padding:0; }

html, body, #root {
  width:100%;
  height:100%;
  background: var(--grad-main);
  font-family: sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
}

.clickable-logo {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-logo:hover {
  transform: scale(1.05);
}
